ion-button.form-btn {
  --background: var(--ion-color-primary);
  --background-hover: var(-ion-color-primary-shade);
  --background-hover-opacity: 1;
  height: 48px;
  width: 240px;
}

.head-text {
  color: #444444;
}
