<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h1 class="welcome-text">Please enter your new password</h1>
  </ion-text>

  <form [formGroup]="passwordForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input
          formControlName="email"
          value="mailto@mail.com"
          autocapitalize="off"
          placeholder="mailto@mail.com"
          disabled
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          value=""
          autocapitalize="off"
          required
        ></ion-input>
      </ion-item>

      <!-- validator text-->

      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)"
      >
        <p class="ion-padding-start">
          Username is required
        </p>
      </ion-text> -->

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          formControlName="confirmPassword"
          type="password"
          [value]=""
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>

      <!-- validator text -->
      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('password').hasError('required')"
      >
        <p class="ion-padding-start">
          Password is required
        </p>
      </ion-text> -->
    </ion-list>

    <ion-button
      type="submit"
      class="ion-text-capitalize signin-btn"
      expand="block"
      >Change Password</ion-button
    >
  </form>
</ion-content>
