<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h1 class="welcome-text">Please enter your new password</h1>
  </ion-text>

  <!-- error message -->
  <ion-text *ngIf="errorMessage" color="secondary">
    <h1 class="ion-text-center">{{errorMessage}}</h1>
  </ion-text>

  <form
    [formGroup]="passwordForm"
    (ngSubmit)="confirmPassword()"
    *ngIf="!isFetching else fetching"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input
          formControlName="email"
          autocapitalize="off"
          [placeholder]="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          value=""
          autocapitalize="off"
          required
        ></ion-input>
      </ion-item>

      <!-- validator text-->

      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)"
      >
        <p class="ion-padding-start">
          Username is required
        </p>
      </ion-text> -->

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          formControlName="confirmPassword"
          type="password"
          [value]="email"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>

      <!-- validator text -->
      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('password').hasError('required')"
      >
        <p class="ion-padding-start">
          Password is required
        </p>
      </ion-text> -->
    </ion-list>

    <ion-button
      type="submit"
      class="ion-text-capitalize signin-btn"
      expand="block"
      [disabled]="passwordForm.invalid"
      >Change Password</ion-button
    >
  </form>

  <ng-template #fetching>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto" class="spinner">
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
