ion-button.signin-btn {
  --background: var(--ion-color-primary);
  --background-hover: var(-ion-color-primary-shade);
  --background-hover-opacity: 1;
}

ion-button.signup-btn {
  --background: #fff;
  --background-hover: var(-ion-color-primary-shade);
  --background-hover-opacity: 1;
  --color: rgb(0, 0, 0);
  --color-hover: #cccaca;
}

ion-content {
  --background: linear-gradient(180deg, #032647 30.21%, #384d61 87.72%);
}

form {
  --ion-item-background: none;

  ion-item {
    --color: #fff;
  }
}

ion-button {
  --border-radius: 9px;
  height: 45px;
  margin: 22px auto;
  width: 240px;
}

.welcome-text {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 68px;
}

ion-button {
  --border-radius: 9px;
  height: 45px;
  margin: 22px auto;
  width: 240px;
}
