<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h1 class="welcome-text">Welcome <br />Back</h1>
  </ion-text>

  <form [formGroup]="passwordForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          value=""
          autocapitalize="off"
          required
        ></ion-input>
      </ion-item>

      <!-- validator text-->

      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)"
      >
        <p class="ion-padding-start">
          Username is required
        </p>
      </ion-text> -->

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          formControlName="Confirm Password"
          type="password"
          [value]=""
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>

      <!-- validator text -->
      <!-- <ion-text
        color="danger"
        *ngIf="loginForm.get('password').hasError('required')"
      >
        <p class="ion-padding-start">
          Password is required
        </p>
      </ion-text> -->
    </ion-list>

    <ion-button
      type="submit"
      class="ion-text-capitalize signin-btn"
      expand="block"
      [disabled]="passwordForm.invalid"
      >Change Password</ion-button
    >
  </form>
</ion-content>
