ion-button.signin-btn {
	--background: var(--ion-color-primary);
	--background-hover: var(-ion-color-primary-shade);
	--background-hover-opacity: 1;
}

ion-content {
	--background: linear-gradient(180deg, #032647 30.21%, #384d61 87.72%);
}

.signin-bth {
	width: 240px;
}

ion-button {
	--border-radius: 9px;
	--background: #007fae;
	height: 45px;
	margin: 20px auto;
	width: 240px;
}

ion-input {
	--background: rgb(255, 255, 255);
	--color: rgb(0, 0, 0);
	border-radius: 5px;
}

ion-row {
	height: 80vh;
}

.reset-form {
	margin: auto;
	width: 270px;
}

.head-text {
	color: rgb(255, 255, 255);
	margin: 30px auto;
}

.spinner {
	ion-spinner {
		--color: #70cdf0;
	}
}
