<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>

  <ion-buttons slot="end">
    <ion-menu-button menu="menuId"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <div class="top">
    <ion-item class="welcome-item" lines="none">
      <ion-avatar slot="start">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/European_shorthair_procumbent_Quincy.jpg/1200px-European_shorthair_procumbent_Quincy.jpg"
        />
      </ion-avatar>

      <ion-icon name="close" slot="end"></ion-icon>

      <ion-label>
        <h2>Welcome Back</h2>
        <h4>{{userInfo?.result.user.username}}</h4>
      </ion-label>

      <ion-button
        slot="end"
        (click)="logout()"
        expand="block"
        fill="clear"
        shape="round"
      >
        Logout
      </ion-button>
    </ion-item>

    <ion-list class="ion-margin-top ion-margin-bottom">
      <!-- record Overview -->
      <div class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-label class="cat-title">
            <h2>Loan records</h2>
          </ion-label>

          <ion-item button [routerLink]="['/records']" slot="end" lines="none">
            <ion-icon name="arrow-forward" color="tertiary"></ion-icon>
          </ion-item>
        </ion-item>
        <div class="ion-padding" class="scroll-container record-scroll">
          <ion-item
            class="create"
            button
            [routerLink]="['/create']"
            routerLinkActive="router-link-active"
          >
            <ion-icon name="add" color="tertiary"></ion-icon>
          </ion-item>

          <ion-card
            *ngFor="let record of categories"
            class="scroll-card card-1"
          >
            <ion-card-content>
              <div class="circle">
                <span>{{record.value}}</span>
              </div>
              <p>{{record.type}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-list>
  </div>
  <app-scrollbar class="scrollbar-cont" [recentTrans]="records"></app-scrollbar>
</ion-content>
