ion-button.signin-btn {
	--background: var(--ion-color-primary);
	--background-hover: var(-ion-color-primary-shade);
	--background-hover-opacity: 1;
}

ion-content {
	--background: linear-gradient(180deg, #032647 30.21%, #384d61 87.72%);
}

.signin-bth{
    width: 240px;
}

ion-button {
	--border-radius: 9px;
	height: 45px;
	margin: 20px auto;
	width: 240px;
	--background: #007FAE;
}

ion-input {
	--background: white;
	border-radius: 5px;
}

ion-row {
	height: 80vh;
}

.resetForm{
	width: 270px;
	margin: auto;
}

.head-text{
	width: 343px;
    margin: 30px auto;
    color: white;
}