<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Records</ion-title>

    <ion-buttons slot="end">
      <app-search-button></app-search-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="auto">
        <div class="category all">
          <ion-text> All </ion-text>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="category all">
          <ion-text> Active </ion-text>
        </div>
      </ion-col>

      <ion-col size="auto">
        <div class="category all">
          <ion-text> Due </ion-text>
        </div>
      </ion-col>

      <ion-col size="auto">
        <div class="category all">
          <ion-text> Cleared </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="auto">
        <ion-text> 72 Active Loans </ion-text>
      </ion-col>
      <ion-col size="auto">
        <ion-button
          (click)="onClick()"
          expand="block"
          shape="round"
        >
        <ion-icon slot="start" name="filter"></ion-icon>
          Filter
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="records; else noTrans">
    <div *ngFor="let record of records">
      <app-record-card [record]="record"></app-record-card>
    </div>
  </div>

  <ng-template #noTrans>
    <div class="no-trans">
      <h1 class="ion-text-center">You do not currently have any loan record</h1>
      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        (click)="navToCreate()"
      >
        Start by adding some records
      </ion-button>
    </div>
  </ng-template>
</ion-content>
